### JetBrains (IntelliJ, Android Studio) ###
.idea/
*.iml
*.iws
*.ipr
out/
gen/

### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Android ###
local.properties
.navigation/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.keystore
!debug.keystore

### Java / Spring Boot ###
*.class
*.log
*.ctxt
*.jar
*.war
*.zip
*.tar
*.tar.gz

### OS ###
.DS_Store
Thumbs.db